<div class="p-5">
  <h2 class="text-center p-3">送信内容確認</h2>
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-7">
      <div>
        <h5 class="bg-info p-1">お名前</h5>
        <p><%= @contact.name %></p>
      </div>
      <div>
        <h5 class="bg-info p-1">メールアドレス</h5>
        <p><%= @contact.email %></p>
      </div>
      <div>
        <h5 class="bg-info p-1">ご用件</h5>
        <p><%= @contact.subject %></p>
      </div>
      <div>
        <h5 class="bg-info p-1">お問い合わせ内容</h5>
        <p><%= @contact.message %></p>
      </div>
      </div>
    </div>
  </div>

<div class="row d-flex justify-content-center">
  <div class="col-3">
    <%= form_for @contact, method: :post do |f| %>
      <%= f.hidden_field :name %>
      <%= f.hidden_field :email %>
      <%= f.hidden_field :subject %>
      <%= f.hidden_field :message %>
      <div><%= f.submit '送信', class: "btn btn-primary form-control my-3" %></div>
    <% end %>
    <%= form_for @contact, url: back_contacts_path, method: :post do |f| %>
      <%= f.hidden_field :name %>
      <%= f.hidden_field :email %>
      <%= f.hidden_field :subject %>
      <%= f.hidden_field :message %>
      <div><%= f.submit '入力画面に戻る', class: "btn btn-outline-secondary form-control" %></div>
    <% end %>
  </div>
</div>
</div>