<div class="conteiner">
  <div class="mb-3 bg-info text-center">
    <%= flash[:notice] %>
  </div>
  <div class="row">
    <div class="col-3 p-2">
      <div class="text-center">
        <h4>絞り込み検索</h4>
      </div>
      <div class="border border-secondary">
        <%= search_form_for @q, url:search_posts_path do |f| %>
          <div class="form-group">
            <div class="bg-dark">
              <%= f.label :holding_area, "開催地域", class: "p-1 text-light" %>
            </div>
            <div class="text-center mt-2 pl-3 pr-3">
              <!--Post.holding_areas_i18n.invert：1 =>"北海道", 2 =>"青森県"...のデータが出力される。（_i18nはenumを日本語表記で出力させるためのもの）-->
              <!--mapメソッドでkeyが1,valueに"北海道"が代入される-->
              <%= f.select :holding_area_eq, Post.holding_areas_i18n.invert.map{|key, value| [key, Post.holding_areas[value]]}, { include_blank: '選択してください' }, class: "text-center form-control" %>
            </div>
          </div>
          <div class="form-group">
            <div class="bg-dark">
              <%= f.label :shooting_availability, "撮影可否", class: "p-1 text-light" %>
            </div>
            <div class="text-center mt-2 pl-3 pr-3">
              <%= f.select :shooting_availability_eq, Post.shooting_availabilities_i18n.invert.map{|key, value| [key, Post.shooting_availabilities[value]]}, { include_blank: '選択してください' }, class: "text-center form-control" %>
            </div>
          </div>
          <div class="form-group">
            <div class="bg-dark">
              <%= f.label :start_date, "会期", class: "p-1 text-light" %>
            </div>
            <div class="pl-3 pr-3">
              <%= f.label :start_date, "開始日", class: "p-1" %>
              <%= f.date_field :start_date_gteq, class: "form-control" %>
            </div>
            <div class="pl-3 pr-3">
              <%= f.label :end_date, "終了日", class: "p-1" %>
              <%= f.date_field :end_date_lteq, class: "form-control" %>
            </div>
          </div>
          <div class="form-group">
            <div class="bg-dark">
              <p class="pt-2 pb-2 pl-1 pr-1 text-light">キーワード</p>
            </div>
            <div class="pl-3 pr-3">
              <%= f.text_field :art_exhibition_name_or_body_cont, placeholder: "キーワードを入力してください", class: "form-control" %>
            </div>
          </div>
          <div class="pl-3 pr-3 pt-2 border-top">
            <%= button_tag type: "submit", class: "btn btn-info form-control mt-1 mb-3" do %>
              <i class="fas fa-search"></i>検索
            <% end %>
          </div>
        <% end %>
      </div>

      <div class="text-center bg-light mt-3">
      <h3 class="pt-2">Tag list</h3>
      <p>よく使われているタグ</p>
      <% if @tags.present? %>
          <% @tags.each do |tag| %>
            <%= link_to "##{tag.name}(#{tag.taggings_count})", tags_path(tag: tag.name), class: "btn btn-outline-secondary mb-2 rounded-pill" %>
          <% end %>
      <% else %>
        <p>登録されているタグはありません</p>
      <% end %>
      </div>
    </div>
    <div class="col-8 ml-4">

      <!--タブで投稿の新しい順・古い順・いいねが多い順に切り替え-->
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <%= link_to '新しい順', "#new-posts", class: "nav-link active", data: { toggle: "tab" } %>
        </li>
        <li class="nav-item">
          <%= link_to '古い順', "#old-posts", class: "nav-link", data: { toggle: "tab" } %>
        </li>
        <li class="nav-item">
          <%= link_to 'いいねが多い順', "#like-posts", class: "nav-link", data: { toggle: "tab" } %>
        </li>
        <li class="nav-item">
          <%= link_to '開催中', "#now", class: "nav-link", data: { toggle: "tab" } %>
        </li>
        <li class="nav-item">
          <%= link_to '開催予定', "#soon", class: "nav-link", data: { toggle: "tab" } %>
        </li>
        <li class="nav-item">
          <%= link_to '会期終了', "#end", class: "nav-link", data: { toggle: "tab" } %>
        </li>
      </ul>

      <div class="tab-content mt-4">
        <div id="new-posts" class="tab-pane fade show active">
          <%= render 'index', posts: @new_posts, kind: 'new' %>
        </div>
        <div id="old-posts" class="tab-pane fade">
          <%= render 'index', posts: @old_posts, kind: 'old' %>
        </div>
        <div id="like-posts" class="tab-pane fade">
          <%= render 'index', posts: @like_posts, kind: 'like' %>
        </div>
        <div id="now" class="tab-pane fade">
          <%= render 'index', posts: @now, kind: 'now' %>
        </div>
        <div id="soon" class="tab-pane fade">
          <%= render 'index', posts: @soon, kind: 'soon' %>
        </div>
        <div id="end" class="tab-pane fade">
          <%= render 'index', posts: @end, kind: 'end' %>
        </div>
      </div>
    </div>
  </div>
</div>