<div class="conteiner p-5">
  <div class="pb-5"><%= flash[:notice] %></div>
  <div class="row">
    <div class="col-3 p-2">
      <div class="text-center">
        <h4>レビューの絞り込み検索</h4>
      </div>
      <div class="border border-secondary">
        <%= search_form_for @q, url:search_posts_path do |f| %>
          <div class="form-group">
            <div class="bg-dark">
              <%= f.label :holding_area, "開催地域", class: "p-1 text-light" %>
            </div>
            <div class="text-center mt-2 pl-3 pr-3">
              <!--Post.holding_areas_i18n.invert：1 =>"北海道", 2 =>"青森県"...のデータが出力される。（_i18nはenumを日本語表記で出力させるためのもの）-->
              <!--mapメソッドでkeyが1,valueに"北海道"が代入される-->
              <%= f.select :holding_area_eq, Post.holding_areas_i18n.invert.map{|key, value| [key, Post.holding_areas[value]]}, { include_blank: '選択してください' }, class: "text-center form-control" %>
            </div>
          </div>
          <div class="form-group">
            <div class="bg-dark">
              <%= f.label :shooting_availability, "撮影可否", class: "p-1 text-light" %>
            </div>
            <div class="text-center mt-2 pl-3 pr-3">
              <%= f.select :shooting_availability_eq, Post.shooting_availabilities_i18n.invert.map{|key, value| [key, Post.shooting_availabilities[value]]}, { include_blank: '選択してください' }, class: "text-center form-control" %>
            </div>
          </div>
          <div class="form-group">
            <div class="bg-dark">
              <%= f.label :start_date, "会期", class: "p-1 text-light" %>
            </div>
            <div class="pl-3 pr-3">
              <%= f.label :start_date, "開始日", class: "p-1" %>
              <%= f.date_field :start_date_gteq, class: "form-control" %>
            </div>
            <div class="pl-3 pr-3">
              <%= f.label :end_date, "終了日", class: "p-1" %>
              <%= f.date_field :end_date_lteq, class: "form-control" %>
            </div>
          </div>
          <div class="form-group">
            <div class="bg-dark">
              <p class="pt-2 pb-2 pl-1 pr-1 text-light">キーワード</p>
            </div>
            <div class="pl-3 pr-3">
              <%= f.text_field :art_exhibition_name_or_gallery_name_or_address_or_point_or_body_cont, placeholder: "キーワードを入力してください", class: "form-control" %>
            </div>
          </div>
          <div class="pl-3 pr-3 pt-2 border-top">
            <%= button_tag type: "submit", class: "btn btn-info form-control mt-1 mb-3" do %>
              <i class="fas fa-search"></i>検索
            <% end %>
          </div>
        <% end %>
      </div>

      <div class="text-center bg-light mt-3">
      <h3 class="pt-2">Tag list</h3>
      <p>よく使われているタグ</p>
      <% if @tags.present? %>
          <% @tags.each do |tag| %>
            <%= link_to "##{tag.name}(#{tag.taggings_count})", tags_path(tag: tag.name), class: "btn btn-outline-secondary mb-2 rounded-pill" %>
          <% end %>
      <% else %>
        <p>登録されているタグはありません</p>
      <% end %>
      </div>
    </div>

    <div class="col-8 ml-4">

      <h4>開催地域からレビューを検索</h4>
      <p>都道府県をクリックすると開催地域に該当するレビューを検索できます</p>
      <div class="d-flex justify-content-center border pb-3 mb-3">
        <!--日本地図から該当レビューへ遷移-->
        <!--deployするときに実行するassets:precompileによって本番環境ではパスが変更となるため、railsのasset_path関数を使うことでdigestを勝手に付与してくれる-->
        <%= image_tag asset_path("map.png", alt: ""), usemap:"#ImageMap" %>
        <map name="ImageMap" class="map">
          <area shape="poly" coords="624,52,625,173,671,172,672,162,752,161,752,53,626,52,626,52" href="/posts/search?q%5Bholding_area_eq%5D=1%5D=&button=" alt="北海道" />
          <area shape="rect" coords="626,183,721,218" href="/posts/search?q%5Bholding_area_eq%5D=2%5D=&button=" alt="青森県" />
          <area shape="rect" coords="676,222,721,257" href="/posts/search?q%5Bholding_area_eq%5D=3%5D=&button=" alt="岩手県" />
          <area shape="rect" coords="675,261,721,295" href="/posts/search?q%5Bholding_area_eq%5D=4%5D=&button=" alt="宮城県" />
          <area shape="rect" coords="626,222,671,257" href="/posts/search?q%5Bholding_area_eq%5D=5%5D=&button=" alt="秋田県" />
          <area shape="rect" coords="626,260,671,295" href="/posts/search?q%5Bholding_area_eq%5D=6%5D=&button=" alt="山形県" />
          <area shape="rect" coords="626,298,721,333" href="/posts/search?q%5Bholding_area_eq%5D=7%5D=&button=" alt="福島県" />
          <area shape="rect" coords="675,374,721,408" href="/posts/search?q%5Bholding_area_eq%5D=8%5D=&button=" alt="茨城県" />
          <area shape="rect" coords="675,336,721,370" href="/posts/search?q%5Bholding_area_eq%5D=9%5D=&button=" alt="栃木県" />
          <area shape="rect" coords="624,336,672,370" href="/posts/search?q%5Bholding_area_eq%5D=10%5D=&button=" alt="群馬県" />
          <area shape="rect" coords="624,374,672,408" href="/posts/search?q%5Bholding_area_eq%5D=11%5D=&button=" alt="埼玉県" />
          <area shape="rect" coords="675,412,721,484" href="/posts/search?q%5Bholding_area_eq%5D=12%5D=&button=" alt="千葉県" />
          <area shape="rect" coords="625,413,672,447" href="/posts/search?q%5Bholding_area_eq%5D=13%5D=&button=" alt="東京都" />
          <area shape="rect" coords="625,450,672,484" href="/posts/search?q%5Bholding_area_eq%5D=14%5D=&button=" alt="神奈川県" />
          <area shape="rect" coords="574,297,621,331" href="/posts/search?q%5Bholding_area_eq%5D=15%5D=&button=" alt="新潟県" />
          <area shape="rect" coords="525,298,572,332" href="/posts/search?q%5Bholding_area_eq%5D=16%5D=&button=" alt="富山県" />
          <area shape="rect" coords="474,298,521,332" href="/posts/search?q%5Bholding_area_eq%5D=17%5D=&button=" alt="石川県" />
          <area shape="rect" coords="476,337,521,370" href="/posts/search?q%5Bholding_area_eq%5D=18%5D=&button=" alt="福井県" />
          <area shape="rect" coords="576,413,621,446" href="/posts/search?q%5Bholding_area_eq%5D=19%5D=&button=" alt="山梨県" />
          <area shape="rect" coords="576,336,622,409" href="/posts/search?q%5Bholding_area_eq%5D=20%5D=&button=" alt="長野県" />
          <area shape="rect" coords="526,336,571,409" href="/posts/search?q%5Bholding_area_eq%5D=21%5D=&button=" alt="岐阜県" />
          <area shape="rect" coords="576,451,620,485" href="/posts/search?q%5Bholding_area_eq%5D=22%5D=&button=" alt="静岡県" />
          <area shape="rect" coords="526,412,572,447" href="/posts/search?q%5Bholding_area_eq%5D=23%5D=&button=" alt="愛知県" />
          <area shape="rect" coords="477,412,521,446" href="/posts/search?q%5Bholding_area_eq%5D=24%5D=&button=" alt="三重県" />
          <area shape="rect" coords="476,374,520,408" href="/posts/search?q%5Bholding_area_eq%5D=25%5D=&button=" alt="滋賀県" />
          <area shape="rect" coords="427,374,471,408" href="/posts/search?q%5Bholding_area_eq%5D=26%5D=&button=" alt="京都府" />
          <area shape="rect" coords="377,413,421,447" href="/posts/search?q%5Bholding_area_eq%5D=27%5D=&button=" alt="大阪府" />
          <area shape="rect" coords="376,374,420,408" href="/posts/search?q%5Bholding_area_eq%5D=28%5D=&button=" alt="兵庫県" />
          <area shape="rect" coords="426,413,470,447" href="/posts/search?q%5Bholding_area_eq%5D=29%5D=&button=" alt="奈良県" />
          <area shape="rect" coords="377,451,471,485" href="/posts/search?q%5Bholding_area_eq%5D=30%5D=&button=" alt="和歌山県" />
          <area shape="rect" coords="325,374,372,409" href="/posts/search?q%5Bholding_area_eq%5D=31%5D=&button=" alt="鳥取県" />
          <area shape="rect" coords="275,374,322,409" href="/posts/search?q%5Bholding_area_eq%5D=32%5D=&button=" alt="島根県" />
          <area shape="rect" coords="325,413,372,448" href="/posts/search?q%5Bholding_area_eq%5D=33%5D=&button=" alt="岡山県" />
          <area shape="rect" coords="275,412,322,447" href="/posts/search?q%5Bholding_area_eq%5D=34%5D=&button=" alt="広島県" />
          <area shape="rect" coords="225,374,272,447" href="/posts/search?q%5Bholding_area_eq%5D=35%5D=&button=" alt="山口県" />
          <area shape="rect" coords="293,502,339,537" href="/posts/search?q%5Bholding_area_eq%5D=36%5D=&button=" alt="徳島県" />
          <area shape="rect" coords="293,464,339,499" href="/posts/search?q%5Bholding_area_eq%5D=37%5D=&button=" alt="香川県" />
          <area shape="rect" coords="245,464,288,498" href="/posts/search?q%5Bholding_area_eq%5D=38%5D=&button=" alt="愛媛県" />
          <area shape="rect" coords="245,503,288,537" href="/posts/search?q%5Bholding_area_eq%5D=39%5D=&button=" alt="高知県" />
          <area shape="rect" coords="113,374,156,408" href="/posts/search?q%5Bholding_area_eq%5D=40%5D=&button=" alt="福岡県" />
          <area shape="rect" coords="62,373,108,409" href="/posts/search?q%5Bholding_area_eq%5D=41%5D=&button=" alt="佐賀県" />
          <area shape="rect" coords="62,411,108,447" href="/posts/search?q%5Bholding_area_eq%5D=42%5D=&button=" alt="長崎県" />
          <area shape="rect" coords="111,411,157,447" href="/posts/search?q%5Bholding_area_eq%5D=43%5D=&button=" alt="熊本県" />
          <area shape="rect" coords="161,373,208,409" href="/posts/search?q%5Bholding_area_eq%5D=44%5D=&button=" alt="大分県" />
          <area shape="rect" coords="161,413,207,485" href="/posts/search?q%5Bholding_area_eq%5D=45%5D=&button=" alt="宮崎県" />
          <area shape="rect" coords="60,450,156,485" href="/posts/search?q%5Bholding_area_eq%5D=46%5D=&button=" alt="鹿児島県" />
          <area shape="rect" coords="62,514,109,549" href="/posts/search?q%5Bholding_area_eq%5D=47%5D=&button=" alt="沖縄県" />
        </map>
      </div>

      <!--タブで投稿の新しい順・古い順・いいねが多い順に切り替え-->
      <ul class="nav nav-tabs nav-pills">
        <li class="nav-item">
          <%= link_to '投稿の新しい順', "#new-posts", class: "nav-link active", data: { toggle: "tab" } %>
        </li>
        <li class="nav-item">
          <%= link_to '投稿の古い順', "#old-posts", class: "nav-link", data: { toggle: "tab" } %>
        </li>
        <li class="nav-item">
          <%= link_to 'いいねが多い順', "#like-posts", class: "nav-link", data: { toggle: "tab" } %>
        </li>
        <li class="nav-item">
          <%= link_to '開催中', "#now", class: "nav-link", data: { toggle: "tab" } %>
        </li>
        <li class="nav-item">
          <%= link_to '開催予定', "#soon", class: "nav-link", data: { toggle: "tab" } %>
        </li>
        <li class="nav-item">
          <%= link_to '会期終了', "#end", class: "nav-link", data: { toggle: "tab" } %>
        </li>
      </ul>

      <div class="tab-content mt-4">
        <div id="new-posts" class="tab-pane fade show active">
          <%= render 'index', posts: @new_posts, kind: 'new' %>
        </div>
        <div id="old-posts" class="tab-pane fade">
          <%= render 'index', posts: @old_posts, kind: 'old' %>
        </div>
        <div id="like-posts" class="tab-pane fade">
          <%= render 'index', posts: @like_posts, kind: 'like' %>
        </div>
        <div id="now" class="tab-pane fade">
          <%= render 'index', posts: @now, kind: 'now' %>
        </div>
        <div id="soon" class="tab-pane fade">
          <%= render 'index', posts: @soon, kind: 'soon' %>
        </div>
        <div id="end" class="tab-pane fade">
          <%= render 'index', posts: @end, kind: 'end' %>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(function(){
    $('area').hover(
     function() { $(this).focus(); },
     function() { $(this).blur(); }
    )
  });
</script>