<div class="conteiner">
  <h1>TOP投稿一覧</h1>
  <div class="row">
    <div class="col-3 text-center">
      <h3>注目タグ</h3>
      <% if @tags.present? %>
          <% @tags.each do |tag| %>
            <p><%= link_to "##{tag.name}(#{tag.taggings_count})", tags_path(tag: tag.name) %></p>
          <% end %>
      <% else %>
        <p>登録されているタグはありません</p>
      <% end %>
    </div>
    <div class="col-9">
      <!--ソートリンク-->
      <%= link_to '新しい順', posts_path(new_post: "true") %>
      |<%= link_to '古い順', posts_path(old_post: "true") %>
      |<%= link_to 'いいねが多い順', posts_path(@posts) %>
      <%= render 'index', posts: @posts %>
    </div>
  </div>
</div>