<div class="conteiner m-5">
  <h1>TOP投稿一覧</h1>
  <div class="row">
    <div class="col-3 text-center bg-light p-2">
      <h3>Tag list</h3>
      <p>よく使われているタグ</p>
      <% if @tags.present? %>
          <% @tags.each do |tag| %>
            <%= link_to "##{tag.name}(#{tag.taggings_count})", tags_path(tag: tag.name), class: "btn btn-outline-secondary mb-2 rounded-pill" %>
          <% end %>
      <% else %>
        <p>登録されているタグはありません</p>
      <% end %>
    </div>
    <div class="col-9">
      <!--ソートリンク-->
      <%= link_to '新しい順', posts_path(new_post: "true") %>
      |<%= link_to '古い順', posts_path(old_post: "true") %>
      |<%= link_to 'いいねが多い順', posts_path(@posts) %>
      <%= render 'index', posts: @posts %>
    </div>
  </div>
</div>