<div class="conteiner">
  <div class="row">
    <div class="col-3 text-center bg-light p-2">
      <h3>Tag list</h3>
      <p>よく使われているタグ</p>
      <% if @tags.present? %>
          <% @tags.each do |tag| %>
            <%= link_to "##{tag.name}(#{tag.taggings_count})", tags_path(tag: tag.name), class: "btn btn-outline-secondary mb-2 rounded-pill" %>
          <% end %>
      <% else %>
        <p>登録されているタグはありません</p>
      <% end %>
    </div>
    <div class="col-8 ml-4">
      <!--タブで投稿の新しい順・古い順・いいねが多い順に切り替え-->
      <ul class="nav nav-tabs">
          <li class="nav-item">
            <%= link_to '新しい順', "#new-posts", class: "nav-link active", data: { toggle: "tab" } %>
          </li>
          <li class="nav-item">
            <%= link_to '古い順', "#old-posts", class: "nav-link", data: { toggle: "tab" } %>
          </li>
          <li class="nav-item">
            <%= link_to 'いいねが多い順', "#like-posts", class: "nav-link", data: { toggle: "tab" } %>
          </li>
      </ul>

      <div class="tab-content mt-4">
        <div id="new-posts" class="tab-pane fade show active">
          <%= render 'index', posts: @new_posts, kind: 'new' %>
        </div>
        <div id="old-posts" class="tab-pane fade">
          <%= render 'index', posts: @old_posts, kind: 'old' %>
        </div>
        <div id="like-posts" class="tab-pane fade">
          <%= render 'index', posts: @like_posts, kind: 'like' %>
        </div>
      </div>
    </div>
  </div>
</div>