<div class="conteiner">
  <div class="row">
    <div class="col-3 text-center bg-light p-2">
      <h3>Tag list</h3>
      <p>よく使われているタグ</p>
      <% if @tags.present? %>
          <% @tags.each do |tag| %>
            <%= link_to "##{tag.name}(#{tag.taggings_count})", tags_path(tag: tag.name), class: "btn btn-outline-secondary mb-2 rounded-pill" %>
          <% end %>
      <% else %>
        <p>登録されているタグはありません</p>
      <% end %>
    </div>
    <div class="col-8 ml-4">
      <!--地域検索-->
      <div>
        <%= search_form_for @q, url:search_posts_path do |f| %>
          <%= f.text_field :art_exhibition_name_or_body_cont, placeholder: "キーワード検索" %>
          <!--Post.holding_areas_i18n.invert：1 =>"北海道", 2 =>"青森県"...のデータが出力される。（_i18nはenumを日本語表記で出力させるためのもの）-->
          <!--mapメソッドでkeyが1,valueに"北海道"が代入される-->
          <%= f.select :holding_area_eq, Post.holding_areas_i18n.invert.map{|key, value| [key, Post.holding_areas[value]]}, { include_blank: '選択してください' } %>
          <%= f.select :shooting_availability_eq, Post.shooting_availabilities_i18n.invert.map{|key, value| [key, Post.shooting_availabilities[value]]}, { include_blank: '選択してください' } %>
          <%= f.date_field :start_date_gteq %>
          <span>~</span>
          <%= f.date_field :end_date_lteq %>
          <%= f.submit '検索' %>
        <% end %>
      </div>
      <!--タブで投稿の新しい順・古い順・いいねが多い順に切り替え-->
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <%= link_to '新しい順', "#new-posts", class: "nav-link active", data: { toggle: "tab" } %>
        </li>
        <li class="nav-item">
          <%= link_to '古い順', "#old-posts", class: "nav-link", data: { toggle: "tab" } %>
        </li>
        <li class="nav-item">
          <%= link_to 'いいねが多い順', "#like-posts", class: "nav-link", data: { toggle: "tab" } %>
        </li>
        <li class="nav-item">
          <%= link_to '開催中', "#now", class: "nav-link", data: { toggle: "tab" } %>
        </li>
        <li class="nav-item">
          <%= link_to '開催予定', "#soon", class: "nav-link", data: { toggle: "tab" } %>
        </li>
        <li class="nav-item">
          <%= link_to '会期終了', "#end", class: "nav-link", data: { toggle: "tab" } %>
        </li>
      </ul>

      <div class="tab-content mt-4">
        <div id="new-posts" class="tab-pane fade show active">
          <%= render 'index', posts: @new_posts, kind: 'new' %>
        </div>
        <div id="old-posts" class="tab-pane fade">
          <%= render 'index', posts: @old_posts, kind: 'old' %>
        </div>
        <div id="like-posts" class="tab-pane fade">
          <%= render 'index', posts: @like_posts, kind: 'like' %>
        </div>
        <div id="now" class="tab-pane fade">
          <%= render 'index', posts: @now, kind: 'now' %>
        </div>
        <div id="soon" class="tab-pane fade">
          <%= render 'index', posts: @soon, kind: 'soon' %>
        </div>
        <div id="end" class="tab-pane fade">
          <%= render 'index', posts: @end, kind: 'end' %>
        </div>
      </div>
    </div>
  </div>
</div>