  <% posts.each do |post| %>
    <div class="col-md-3 text-center">
      <div class="image-conteiner">
        <% if post.image.attached? %>
          <%= image_tag post.image.variant(resize: "300x300") %><br>
        <% else %>
          <%= image_tag 'noimage', size: "300x300" %><br>
        <% end %>
      </div>
      <%= post.art_exhibition_name %><br>
      <%= post.gallery_name %><br>
      <%= post.start_date %> ~ <%= post.end_date %><br>
      <%= post.point %>
    </div>
  <% end %>