<div class="container p-5">
	<div class="mb-3">
    <%= flash[:notice] %>
  </div>
  <%= render 'search', q: @q %>
  <h3>
		<% if params[:user_id] %>
			<h3 class="pb-3"><%= @user.name %>さんの投稿履歴一覧</h3>
		<% else %>
			<h3 class="pb-3">投稿一覧</h3>
		<% end %>
	</h3>
  <div class="row">
    <%= render 'index', posts: @posts %>
  </div>
	<% if params[:user_id] %>
    <%= render 'admin/posts/back_btn' %>
	<% end %>
</div>