<div class="p-5">
  <div class="conteiner">
    <!--編集ボタン-->
    <div class="d-flex justify-content-end">
      <%= link_to 'このレビューを編集する', edit_admin_post_path(@post.id), class: "btn btn-outline-dark" %>
    </div>
    <div class="mb-3">
      <%= flash[:notice] %>
    </div>
    <div class="row">
      <div class="col">
        <div class="d-flex justify-content-center align-items-center">
          <h2><%= @post.art_exhibition_name %></h2>
          <!--開催状況-->
          <%= render 'date', post: @post %>
        </div>

        <!--投稿画像-->
        <div class="d-flex justify-content-center mb-3">
          <%= attachment_image_tag @post, :post_image, fallback: "noimage.png", size: "300x300" %>
        </div>
      </div>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col-4">
        <h4 class="bg-info p-1">開催概要</h4>
        <table>
          <tbody>
            <tr>
              <th style="width: 30%">美術館名</th>
              <td><%= @post.gallery_name %></td>
            </tr>
            <tr>
              <th>会期</th>
              <td><%= @post.start_date %> ~ <%= @post.end_date %></td>
            </tr>
            <tr>
              <th>入場料</th>
              <td><%= @post.admission %>円</td>
            </tr>
            <tr>
              <th>開催エリア</th>
              <td><%= @post.holding_area %></td>
            </tr>
            <tr>
              <th>住所</th>
              <td><%= @post.address %></td>
            </tr>
            <tr>
              <th>撮影可否</th>
              <td><%= @post.shooting_availability_i18n %></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-4">
        <!--ユーザーによる感想-->
        <div>
          <div>
            <h4 class="bg-info p-1">ここに注目</h4>
            <%= @post.point %>
          </div>
          <div>
            <h4 class="bg-info mt-3 p-1">この美術展について</h4>
            <%= safe_join(@post.body.split("\n"),tag(:br)) %>
          </div>
        </div>

        <div class="mt-3">
          <!--投稿日-->
          <%= l @post.created_at, format: :short %>
          <!--ユーザー情報-->
          <div class="d-flex justify-content-start">
            <div>
              BY
              <%= link_to admin_user_path(@post.user) do %>
                <%= image_tag @post.user.get_profile_image(50,50) %>
              <% end %>
            </div>
            <div class="p-2">
              <%= link_to admin_user_path(@post.user) do %>
                <span><%= @post.user.name %></span>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--登録されているタグ-->
    <div class="d-flex justify-content-center align-middle mt-3">
      <% if @tags.present? %>
       <div class="mt-2"><i class="fas fa-tags"></i></div>
        <% @tags.each do |tag| %>
          <%= link_to "##{tag.name}", tags_path(tag: tag.name), class: "btn btn-outline-secondary rounded-pill ml-2" %>
        <% end %>
      <% else %>
        <div><i class="fas fa-tags"></i></div>
        <div class="align-middle">
          <p class="ml-2">登録されているタグはありません</p>
        </div>
      <% end %>
    </div>
  </div>
  <!--コメント表示-->
  <div class="comments text-center mt-5 pt-5 border-top" id="comments">
    <%= render 'admin/comments/comment', post: @post %>
  </div>
  
  <%= render 'admin/posts/back_btn' %>
</div>

