<div id="sign_in" class="p-5">
  <div class="container">
    <div class="mb-3 p-3 bg-info ">
      <%= flash[:notice] %>
    </div>
    <%= render "public/shared/error_messages", resource: resource %>
    <div class="row d-flex justify-content-center">
      <div class="col-5 mb-3 text-center">
        <h1 class="pb-2">ようこそGalleryEyeへ！</h1><br>
        <h3>新規会員登録</h3>
      </div>
    </div>
      <div class="row d-flex justify-content-center">
        <div class="col-5 d-flex justify-content-center pt-3 pb-3 border border-secondary rounded bg-white">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <div class="field mt-3 form-group">
              <div class="d-flex flex-row">
                <%= f.label :ユーザーネーム %>
                <p class="bg-danger text-light pl-1 pr-1 ml-1">必須</p>
                <p class="text-primary">　<i class="fas fa-check"></i> 20文字以内</p>
              </div>
              <%= f.text_field :name, autofocus: true, required: true, size: 40, class: "form-control"  %>
            </div>

            <div class="field mt-3 form-group">
              <div class="d-flex flex-row">
                <%= f.label :メールアドレス %>
                <p class="bg-danger text-light pl-1 pr-1 ml-1">必須</p>
              </div>
              <%= f.email_field :email, autocomplete: "email", required: true, size: 40, placeholder: 'sample@example.com', class: "form-control" %>
            </div>

            <div class="field mt-3 form-group">
              <div class="d-flex flex-row">
                <%= f.label :パスワード %>
                <p class="bg-danger text-light pl-1 pr-1 ml-1">必須</p>
                <% if @minimum_password_length %>
                <p class="text-primary">　<i class="fas fa-check"></i> <%= @minimum_password_length %>文字以上の半角英数字</p>
                <% end %>
              </div>
              <%= f.password_field :password, required: true, autocomplete: "new-password", size: 40, class: "form-control"  %>
            </div>

            <div class="field mt-3 form-group">
              <div class="d-flex flex-row">
                <%= f.label :確認用パスワード %>
                <p class="bg-danger text-light pl-1 pr-1 ml-1">必須</p>
              </div>
              <%= f.password_field :password_confirmation, required: true, autocomplete: "new-password", size: 40, class: "form-control"  %>
            </div>

            <div class="actions mt-3">
              <%= f.submit "登録する", class: "form-control btn btn-info"  %>
            </div>
            <div class="text-center border-top mt-4 pt-3 pb-3">
              <%= render "public/shared/links" %>
            </div>
          <% end %>
        </div>
      </div>

  </div>
</div>
