<table class="table w-100 table-hover text-center">
  <thead>
    <tr>
      <th>ユーザーID</th>
      <th>アイコン</th>
      <th>ユーザーネーム</th>
      <th>メールアドレス</th>
      <th>ステータス</th>
    </tr>
  </thead>
  <% if users.exists? %>
    <% users.each do |user| %>
      <tbody>
        <td class="align-middle"><%= user.id %></td>
        <td class="align-middle">
          <%= image_tag user.get_profile_image(50,50), class: "rounded-circle" %>
        </td>
        <td class="align-middle">
          <%= link_to admin_user_path(user.id) do %>
            <%= user.name %>
          <% end %>
        </td>
        <td class="align-middle"><%= user.email %></td>
        <td class="align-middle">
          <% if user.is_deleted == false %>
            <strong><p class="text-success">有効</p></strong>
          <% elsif %>
            <strong><p class="text-secondary">退会</p></strong>
          <% end %>
        </td>
      </tbody>
    <% end %>
  <% else %>
    <tbody>
      <td colspan="6" class="align-middle"><h5>関連するユーザーはいません</h5></td>
    </tbody>
  <% end %>
</table>
<div class="container">
  <div class="row">
    <div class="col"><%= paginate users %></div>
  </div>
</div>