<div class="container mt-5 mb-5">
<h1>user編集</h1>
  <div class="row">
    <div class="col-9">
      <%= image_tag @user.get_profile_image(100,100), class: "rounded-circle" %>
      <%= form_with model: @user, url:admin_user_path, method: :patch do |f| %>
        <table class="table table-borderless">
          <tbody>
            <tr>
              <th>会員ID</th>
              <td><%= @user.id %></td>
            </tr>
            <tr>
              <th>ユーザーネーム</th>
              <td>
                <!--ゲストユーザーの場合は編集不可-->
                <% if @user.name == "guestuser" %>
                  <%= @user.name %>
                <% elsif %>
                  <%= f.text_field :name %>
                <% end %>
              </td>
            </tr>
            <tr>
              <th>性別</th>
              <td>
                <!--男性-->
                <%= f.radio_button :sex, User.sexes.key(0) %>
                <%= f.label :sex_men, User.sexes_i18n[:men] %>
                <!--女性-->
                <%= f.radio_button :sex, User.sexes.key(1) %>
                <%= f.label :sex_women, User.sexes_i18n[:women] %>
                <!--その他-->
                <%= f.radio_button :sex, User.sexes.key(2) %>
                <%= f.label :sex_others, User.sexes_i18n[:others] %>
              </td>
            </tr>
            <tr>
              <th>生年月日</th>
              <td><%= f.date_field :birthdate %></td>
            </tr>
            <tr>
              <th>自己紹介文</th>
              <td><%= f.text_area :introduction %></td>
            </tr>
            <tr>
              <th>会員ステータス</th>
              <td>
              <!--ゲストユーザーの場合は編集不可-->
                <% if @user.name == "guestuser" %>
                  <% if @user.is_deleted == false %>
                    <strong><p class="text-success">有効</p></strong></td>
                  <% elsif %>
                    <strong><p class="text-secondary">退会</p></strong>
                  <% end %>
                <% elsif %>
                  <%= f.radio_button :is_deleted, false %>
                  <%= f.label :is_deleted, '有効' %>
                  <%= f.radio_button :is_deleted, true %>
                  <%= f.label :is_deleted, '退会' %>
                <% end %>
              </td>
            </tr>
            <tr>
              <td class="text-right"><%= f.submit '変更を保存', class: "btn btn-success" %></td>
            </tr>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
</div>