<div class="container p-5">
  <div class="mb-3">
    <%= flash[:notice] %>
  </div>
  <h1 class="text-center pb-3">User</h1>
  <div class="row d-flex justify-content-center">
    <div class="col-5 border p-3">
      <div class="d-flex justify-content-center pb-3">
        <%= image_tag @user.get_profile_image(100,100), class: "rounded-circle" %>
      </div>

      <div class="form-group">
        <h5>会員ID</h5>
        <%= @user.id %>
      </div>

      <div class="form-group">
        <h5>ユーザーネーム</h5>
        <%= @user.name %>
      </div>

      <div class="form-group">
        <h5>性別</h5>
        <%= @user.sex_i18n %>
      </div>

      <div class="form-group">
        <h5>生年月日</h5>
        <%= @user.birthdate %>
      </div>

      <div class="form-group">
        <h5>自己紹介文</h5>
        <%= @user.introduction %>
      </div>

      <div class="form-group">
        <h5>会員ステータス</h5>
        <% if @user.is_deleted == false %>
          <p class="text-success">有効</p>
        <% elsif %>
          <p class="text-secondary">退会</p>
        <% end %>
      </div>

      <div class="form-group">
        <div class="mb-3">
          <%= link_to edit_admin_user_path(@user) do %>
            <button class="btn btn-success form-control" type="submit">編集する</button>
          <% end %>
        </div>
        <div>
          <%= link_to admin_user_posts_path(@user) do %>
            <button class="btn btn-outline-secondary form-control" type="submit"><%= @user.name %>さんの投稿履歴一覧</button>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <%= render 'admin/posts/back_btn' %>
</div>