<div class="container mt-5 mb-5">
  <div class="mb-3">
    <%= flash[:notice] %>
  </div>
  <h3>ユーザー詳細ページ</h3>
  <div class="row">
    <div class="col-9">
      <table class="table text-left">
        <tbody>
          <%= image_tag @user.get_profile_image(100,100), class: "rounded-circle" %>
          <tr>
            <th>会員ID</th>
            <td><%= @user.id %></td>
          </tr>
          <tr>
            <th>ユーザーネーム</th>
            <td><%= @user.name %></td>
          </tr>
          <tr>
            <th>性別</th>
            <td><%= @user.sex_i18n %></td>
          </tr>
          <tr>
            <th>生年月日</th>
            <td><%= @user.birthdate %></td>
          </tr>
          <tr>
            <th>自己紹介文</th>
            <td><%= @user.introduction %></td>
          </tr>
          <tr>
            <th>会員ステータス</th>
            <td>
              <% if @user.is_deleted == false %>
                <strong><p class="text-success">有効</p></strong></td>
              <% elsif %>
                <strong><p class="text-secondary">退会</p></strong>
              <% end %>
            </td>
           </tr>
        </tbody>
      </table>
    </div>
  </div>
  <%= link_to edit_admin_user_path(@user) do %>
    <button class="btn btn-success" type="submit">編集する</button>
  <% end %>
  <%= link_to admin_user_posts_path(@user) do %>
    <button class="btn btn-success" type="submit">投稿履歴一覧</button>
  <% end %>
</div>