<div class="d-flex flex-wrap">
  <% @posts.each do |post| %>
    <div class="col text-center">
      <%= link_to post_path(post.id) do %>
        <%= render 'public/posts/post_image', post: post %>
      <% end %>
      <h3><%= post.art_exhibition_name %></h3>
      <p><%= post.gallery_name %></p>
      <p><%= post.start_date %> ~ <%= post.end_date %></p>
      <p><%= post.point %></p>
      <p><%= link_to "#{post.comments.count}コメント", post_path(post.id) %></p>
      </div>
  <% end %>
</div>