<div class="container p-5">
  <%= render "public/shared/error_messages", resource: @user %>
  <div class="row d-flex justify-content-center">
    <div class="col-8">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <%= link_to 'プロフィール編集', "#user-edit", class: "nav-link active", data: { toggle: "tab" } %>
        </li>
        <li class="nav-item">
          <%= link_to '退会手続き', "#user-leave", class: "nav-link", data: { toggle: "tab" } %>
        </li>
      </ul>
      <div class="tab-content mt-4">
        <div id="user-edit" class="tab-pane fade show active">
          <%= render 'form', user: @user %>
        </div>
        <div id="user-leave" class="tab-pane fade">
          <%= render 'leave_check' %>
        </div>
      </div>
    </div>
  </div>
</div>