<div class="container m-5">
  <h1>マイページ</h1>
  <div class="row">
    <div class="col-3">
      <%= image_tag @user.get_profile_image(100,100) %>
      <%= @user.name %>
    </div>

      <div class="col-3 text-center">
        <% @posts.each do |post| %>
          <%= link_to post_path(post.id) do %>
            <%= image_tag post.get_image %>
          <% end %>
        <%= post.art_exhibition_name %><br>
        <%= post.gallery_name %><br>
        <%= post.start_date %> ~ <%= post.end_date %><br>
        <%= post.point %>
        <% end %>
      </div>

  </div>
</div>