<div class="container">
  <%= flash[:notice] %>
  <h1>マイページ</h1>
  <div class="row">
    <div class="col-3 text-center border border-secondary rounded bg-light p-3">
      <!--プロフィール画像-->
      <div>
        <%= image_tag @user.get_profile_image(100,100), class: "rounded-circle", size: "100x100" %>
      </div>
      <h5><%= @user.name %></h5>

      <!--自己紹介文-->
      <div class="mt-3 mb-3">
        <%if @user.introduction.nil? %>
          <%= @user.introduction %>
        <% else %>
          <%= safe_join(@user.introduction.split("\n"),tag(:br)) %>
        <% end %>
      </div>

      <!--フォロー・フォロワー-->
      <%= link_to user_followings_path(@user), class: "text-dark" do %>
        <!--退会しているユーザーは数に含めない-->
        <strong><%= @user.followings.where(is_deleted: 'false').count %></strong>フォロー
      <% end %>
      <%= link_to user_followers_path(@user), class: "text-dark" do %>
        <!--退会しているユーザーは数に含めない-->
        <strong><%= @user.followers.where(is_deleted: 'false').count %></strong>フォロワー
      <% end %>

      <!--いいね一覧リンク-->
      <div class="mt-3 mb-3">
        <%= link_to "いいね一覧", likes_user_path(@user), class: "btn btn-outline-danger" %>
      </div>

      <!--フォローボタン-->
      <div id="follow-<%= @user.id %>">
        <%= render 'public/relationships/follow', user: @user %>
      </div>

      <!--プロフィール編集ボタン-->
      <% if user_signed_in? && @user == current_user %>
        <%= link_to edit_user_path(@user.id), class: "btn btn-outline-secondary btn-block" do %>
          <i class="fas fa-user-cog"></i>
        <% end %>
      <% end %>

    </div>

    <div class="col">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <%= link_to '投稿一覧', "#now-posts", class: "nav-link active", data: { toggle: "tab" } %>
        </li>
        <% if @user == current_user %>
          <li class="nav-item">
            <%= link_to '下書き', "#draft-posts", class: "nav-link", data: { toggle: "tab" } %>
          </li>
        <% end %>
      </ul>
      <div class="tab-content m-3">
        <div id="now-posts" class="tab-pane fade show active">
          <%= render 'public/posts/index', posts: @posts, kind: 'now' %>
        </div>
        <% if @user == current_user %>
          <div id="draft-posts" class="tab-pane fade">
              <%= render 'public/posts/draft', posts: @draft_post, kind: 'draft' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>